#countLabel {
  border: solid 1px;
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Arial, Helvetica, sans-serif;
}

#btnContainer {
  text-align: center;
  border: solid 1px;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: rgb(229, 136, 14);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.buttons:hover {
  background-color: rgb(91, 53, 3);
}
